profiles {
    local {

    params {
        chrom=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']
	out_dir="${launchDir}"
    }
    
    process.executor = 'local'

    withName:map_to_build {
        memory = { 1.GB }
        publishDir =[
            path:{"${params.out_dir}/$GCST/1_map_to_build"},
            mode: 'copy'
            ]
    }

    withName:ten_percent_counts {
        memory = { 1.GB }
        publishDir =[
            path:{"${params.out_dir}/$GCST/2_ten_sc"},
            mode: 'copy'
            ]
    }
 
    withName:generate_strand_counts {
        memory = { 1.GB }
        publishDir =[
            path:{"${params.out_dir}/$GCST/3_all_sc"},
            mode: 'copy'
            ]
    }

    withName:harmonization {
        memory = { 1.GB }
        publishDir =[
            path:{"${params.out_dir}/$GCST/4_harmonization"},
            mode: 'copy'
            ]
    }

    withName:qc {
        memory = { 1.GB }
        publishDir =[
            path:{"${params.out_dir}/$GCST/5_qc"},
            mode: 'copy'
            ]
    }
   
    withName:harmonization_log {
        memory = { 1.GB }
    }

    withName:update_meta_yaml {
        memory = { 1.GB }
        publishDir =[
            path:{"${params.out_dir}/$GCST/final"},
            mode: 'copy'
            ]
    }
}
}
